# Build output
server/out
server/tsconfig.tsbuildinfo
vscode-client/out
vscode-client/tsconfig.tsbuildinfo

# Linter cache
coverage/
.eslintcache/
.eslintcache

# OS related
.DS_Store
*.log

# NPM cache
node_modules/
package-lock.json

# YARN cache
.yarn/
